{% extends "base.html" %}

{% block title %}Admin - Manage Products{% endblock %}
{% block content %}

        <h2>Manage Products</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <a href="/admin/delete/{{ product.id }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{url_for('main.add_product')}}" class="btn btn-primary">Add Product</a>

{% endblock %}
